{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>mind</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- fevicon -->
  <link rel="icon" href="{% static '' %}images/fevicon.png" type="image/gif" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static '' %}css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="{% static '' %}css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="{% static '' %}css/responsive.css">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="{% static '' %}css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<style>

    /* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #0ee9a6;
  border-radius: 19px;
}

[type=radio]:checked + p {
  outline: 2px solid #0ee9a6;
  border-radius: 19px;
}

</style>



    <style>
        select.selectpicker {
    display: none;

    /* Prevent FOUC */
}
    </style>



    <style>

        ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {

}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}



    </style>


</head>
<!-- body -->

<body>

<div class="row" style="background-color: turquoise; text-align: center; height: 40px; font-size: 18px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">wanted to close </div>
<!--      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><i class="fa fa-window-close" aria-hidden="true"></i></div>-->
</div>


  <div class="container">


    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" style=" margin-top: 23px;">

          <p>DESCRIBE YOUR PLACE</p>
          <p style="font-size: 24px;">Room Features</p>



      </div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    </div>
  </div>



<form action="{% url 'flatmate_listing_Room_Features' %}" method="POST">{% csrf_token %}


    <input type="hidden" name="introduce_great_about_living" value="{{introduce_great_about_living}}">
    <input type="hidden" name="introduce_about_your_flatmates" value="{{introduce_about_your_flatmates}}">

    <input type="hidden" name="Accepting_Backpackers" value="{{Accepting_Backpackers}}">
    <input type="hidden" name="Accepting_Students" value="{{Accepting_Students}}">
    <input type="hidden" name="Accepting_Smokers" value="{{Accepting_Smokers}}">
    <input type="hidden" name="Accepting_LGBTI" value="{{Accepting_LGBTI}}">
    <input type="hidden" name="Accepting_years_olds" value="{{Accepting_years_olds}}">
    <input type="hidden" name="Accepting_Children" value="{{Accepting_Children}}">
    <input type="hidden" name="Accepting_Pets" value="{{Accepting_Pets}}">
    <input type="hidden" name="Accepting_Retirees" value="{{Accepting_Retirees}}">
    <input type="hidden" name="Accepting_On_welfare" value="{{Accepting_On_welfare}}">


    <input type="hidden" name="Flatmate_Preference_name" value="{{Flatmate_Preference_name}}">


    <input type="hidden" name="image_id" value="{{image_id}}">

    <input type="hidden" name="Room_availability_Date" value="{{Room_availability_Date}}">
    <input type="hidden" name="Room_availability_Minimum_length_stay" value="{{Room_availability_Minimum_length_stay}}">
    <input type="hidden" name="Room_availability_Maximum_length_stay" value="{{Room_availability_Maximum_length_stay}}">


    <input type="hidden" name="room_Weekly_rent" value="{{room_Weekly_rent}}">
    <input type="hidden" name="room_changed_Bond" value="{{room_changed_Bond}}">
    <input type="hidden" name="room_changed_Bills" value="{{room_changed_Bills}}">

    <input type="hidden" name="room_Weekly_rent" value="{{room_Weekly_rent}}">
    <input type="hidden" name="room_changed_Bond" value="{{room_changed_Bond}}">
    <input type="hidden" name="room_changed_Bills" value="{{room_changed_Bills}}">


    <input type="hidden" name="Bed_Size" value="{{Bed_Size}}">
    <input type="hidden" name="Room_furnishings_features_Bed_side_table" value="{{Room_furnishings_features_Bed_side_table}}">
    <input type="hidden" name="Room_furnishings_features_Wardrobe" value="{{Room_furnishings_features_Wardrobe}}">
    <input type="hidden" name="Room_furnishings_features_Drawers" value="{{Room_furnishings_features_Drawers}}">
    <input type="hidden" name="Room_furnishings_features_Air_conditioner" value="{{Room_furnishings_features_Air_conditioner}}">
    <input type="hidden" name="Room_furnishings_features_Heater" value="{{Room_furnishings_features_Heater}}">
    <input type="hidden" name="Room_furnishings_features_Desk" value="{{Room_furnishings_features_Desk}}">
    <input type="hidden" name="Room_furnishings_features_Lamp" value="{{Room_furnishings_features_Lamp}}">
    <input type="hidden" name="Room_furnishings_features_Chair" value="{{Room_furnishings_features_Chair}}">
    <input type="hidden" name="Room_furnishings_features_Couch" value="{{Room_furnishings_features_Couch}}">
    <input type="hidden" name="Room_furnishings_features_TV" value="{{Room_furnishings_features_TV}}">
    <input type="hidden" name="Room_furnishings_features_Balcony" value="{{Room_furnishings_features_Balcony}}">
    <input type="hidden" name="Room_furnishings_features_Door_lock" value="{{Room_furnishings_features_Door_lock}}">
    <input type="hidden" name="Room_furnishings_features_Kitchenette" value="{{Room_furnishings_features_Kitchenette}}">




    <input type="hidden" name="Room_name" value="{{Room_name}}">
    <input type="hidden" name="Room_type" value="{{Room_type}}">
    <input type="hidden" name="Room_furnishings" value="{{Room_furnishings}}">
    <input type="hidden" name="Bathroom_type" value="{{Bathroom_type}}">

    <input type="hidden" name="property_Who_currently_lives" value="{{property_Who_currently_lives}}">
    <input type="hidden" name="Property_Address" value="{{Property_Address}}">
    <input type="hidden" name="property_bedrooms" value="{{property_bedrooms}}">
    <input type="hidden" name="property_bathrooms" value="{{property_bathrooms}}">
    <input type="hidden" name="changed_Parking" value="{{changed_Parking}}">
    <input type="hidden" name="changed_Internet" value="{{changed_Internet}}">
    <input type="hidden" name="offering_accommodation" value="{{offering_accommodation}}">
    <input type="hidden" name="property" value="{{property}}">






    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=" margin-top: 5px; width:100%">

          <div style="margin-top: 23px;">

          <p style="font-size: 18px;">Bed Size</p>

              {% if Bed_Size == 'Single' %}
              <label onclick="lets_enable_star_button()" style="width: 20%;" >
                  <input type="radio" name="Bed_Size" value="Single" checked>
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;   text-align: center;">Single</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Double">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;    text-align: center;">Double</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Queen">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">Queen</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="King">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">King</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 20%;">
                  <input type="radio" name="Bed_Size" value="None">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">None</p>
                </label>


              {% elif Bed_Size == 'Double' %}
              <label onclick="lets_enable_star_button()" style="width: 20%;" >
                  <input type="radio" name="Bed_Size" value="Single">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;   text-align: center;">Single</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Double" checked>
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;    text-align: center;">Double</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Queen">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">Queen</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="King">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">King</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 20%;">
                  <input type="radio" name="Bed_Size" value="None">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">None</p>
                </label>

              {% elif Bed_Size == 'Queen' %}
              <label onclick="lets_enable_star_button()" style="width: 20%;" >
                  <input type="radio" name="Bed_Size" value="Single">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;   text-align: center;">Single</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Double">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;    text-align: center;">Double</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Queen" checked>
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">Queen</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="King">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">King</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 20%;">
                  <input type="radio" name="Bed_Size" value="None">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">None</p>
                </label>

              {% elif Bed_Size == 'King' %}
              <label onclick="lets_enable_star_button()" style="width: 20%;" >
                  <input type="radio" name="Bed_Size" value="Single">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;   text-align: center;">Single</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Double">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;    text-align: center;">Double</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Queen">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">Queen</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="King" checked>
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">King</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 20%;">
                  <input type="radio" name="Bed_Size" value="None">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">None</p>
                </label>

              {% elif Bed_Size == 'None' %}
              <label onclick="lets_enable_star_button()" style="width: 20%;" >
                  <input type="radio" name="Bed_Size" value="Single">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;   text-align: center;">Single</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Double">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;    text-align: center;">Double</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Queen">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">Queen</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="King">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">King</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 20%;">
                  <input type="radio" name="Bed_Size" value="None" checked>
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">None</p>
                </label>
              {% else %}
              <label onclick="lets_enable_star_button()" style="width: 20%;" >
                  <input type="radio" name="Bed_Size" value="Single">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;   text-align: center;">Single</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Double">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid;    text-align: center;">Double</p>
                </label>

            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="Queen">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">Queen</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 19%;">
                  <input type="radio" name="Bed_Size" value="King">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">King</p>
                </label>


            <label onclick="lets_enable_star_button()" style="width: 20%;">
                  <input type="radio" name="Bed_Size" value="None">
<!--                  <img src="{% static '' %}listing_imag/home_stay.PNG" >-->
                    <p style="border: 2px solid; text-align: center;">None</p>
                </label>
              {% endif %}





          </div>


      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>







    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="width:100%">

          <div style="margin-top: 15px;">

          <p style="font-size: 18px;">Room furnishings and features</p>
              <ul>
                  <li>
                      {% if Room_furnishings_features_Bed_side_table == 'on' %}
                      <input name="Room_furnishings_features_Bed_side_table" type="checkbox" id="cb1" checked/>
                        <label for="cb1" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                            <img src="https://picsum.photos/seed/1/100" />
                            <br>Bed side table
                        </label>
                      {% else %}
                      <input name="Room_furnishings_features_Bed_side_table" type="checkbox" id="cb1" />
                        <label for="cb1" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                            <img src="https://picsum.photos/seed/1/100" />
                            <br>Bed side table
                        </label>
                      {% endif %}


                  </li>
                  <li>
                      {% if Room_furnishings_features_Wardrobe == 'on' %}
                      <input name="Room_furnishings_features_Wardrobe" type="checkbox" id="cb2" checked/>
                    <label for="cb2" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/2/100" /><br>Wardrobe
                    </label>
                      {% else %}
                      <input name="Room_furnishings_features_Wardrobe" type="checkbox" id="cb2" />
                    <label for="cb2" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/2/100" /><br>Wardrobe
                    </label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Drawers == 'on' %}
                      <input name="Room_furnishings_features_Drawers" type="checkbox" id="cb3" checked />
                    <label for="cb3" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/3/100" /><br>Drawers</label>
                      {% else %}
                      <input name="Room_furnishings_features_Drawers" type="checkbox" id="cb3" />
                    <label for="cb3" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/3/100" /><br>Drawers</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Air_conditioner == 'on' %}
                      <input name="Room_furnishings_features_Air_conditioner" type="checkbox" id="cb4" checked />
                    <label for="cb4" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/4/100" /><br>Air conditioner</label>
                      {% else %}
                      <input name="Room_furnishings_features_Air_conditioner" type="checkbox" id="cb4" />
                    <label for="cb4" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/4/100" /><br>Air conditioner</label>
                      {% endif %}

                  </li>
                </ul>
          </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>




    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=" width:100%">

          <div style="margin-top: 15px;">


              <ul>
                  <li>
                      {% if Room_furnishings_features_Heater == 'on' %}
                      <input name="Room_furnishings_features_Heater" type="checkbox" id="cb5" checked/>
                    <label for="cb5" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/1/100" /><br>Heater</label>
                      {% else %}
                      <input name="Room_furnishings_features_Heater" type="checkbox" id="cb5" />
                    <label for="cb5" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/1/100" /><br>Heater</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Desk == 'on' %}
                      <input name="Room_furnishings_features_Desk" type="checkbox" id="cb6" checked />
                    <label for="cb6" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/2/100" /><br>Desk</label>
                      {% else %}
                      <input name="Room_furnishings_features_Desk" type="checkbox" id="cb6" />
                    <label for="cb6" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/2/100" /><br>Desk</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Lamp == 'on' %}
                      <input name="Room_furnishings_features_Lamp" type="checkbox" id="cb7" checked />
                    <label for="cb7" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/3/100" /><br>Lamp</label>
                      {% else %}
                      <input name="Room_furnishings_features_Lamp" type="checkbox" id="cb7" />
                    <label for="cb7" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/3/100" /><br>Lamp</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Chair == 'on' %}
                      <input name="Room_furnishings_features_Chair" type="checkbox" id="cb8" checked />
                    <label for="cb8" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/4/100" /><br>Chair</label>
                      {% else %}
                      <input name="Room_furnishings_features_Chair" type="checkbox" id="cb8" />
                    <label for="cb8" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/4/100" /><br>Chair</label>
                      {% endif %}

                  </li>
                </ul>

          </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>



    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=" width:100%">

          <div style="margin-top: 15px;">


              <ul>
                  <li>
                      {% if Room_furnishings_features_Couch == 'on' %}
                      <input name="Room_furnishings_features_Couch" type="checkbox" id="cb9" checked />
                    <label for="cb9" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/1/100" /><br>Couch</label>
                      {% else %}
                      <input name="Room_furnishings_features_Couch" type="checkbox" id="cb9" />
                    <label for="cb9" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/1/100" /><br>Couch</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_TV == 'on' %}
                      <input name="Room_furnishings_features_TV" type="checkbox" id="cb10" checked />
                    <label for="cb10" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/2/100" /><br>TV</label>
                      {% else %}
                      <input name="Room_furnishings_features_TV" type="checkbox" id="cb10" />
                    <label for="cb10" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/2/100" /><br>TV</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Balcony == 'on' %}
                      <input name="Room_furnishings_features_Balcony" type="checkbox" id="cb11" checked />
                    <label for="cb11" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/3/100" /><br>Balcony</label>
                      {% else %}
                      <input name="Room_furnishings_features_Balcony" type="checkbox" id="cb11" />
                    <label for="cb11" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/3/100" /><br>Balcony</label>
                      {% endif %}

                  </li>
                  <li>
                      {% if Room_furnishings_features_Door_lock == 'on' %}
                      <input name="Room_furnishings_features_Door_lock" type="checkbox" id="cb12" checked />
                    <label for="cb12" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/4/100" /><br>Door lock</label>
                      {% else %}
                      <input name="Room_furnishings_features_Door_lock" type="checkbox" id="cb12" />
                    <label for="cb12" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/4/100" /><br>Door lock</label>
                      {% endif %}

                  </li>
                </ul>

          </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>



    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style=" width:100%">

          <div style="margin-top: 15px;">


              <ul>
                  <li>
                      {% if Room_furnishings_features_Kitchenette == 'on' %}
                      <input name="Room_furnishings_features_Kitchenette" type="checkbox" id="cb13" checked />
                    <label for="cb13" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/1/100" /><br>Kitchenette</label>
                      {% else %}
                      <input name="Room_furnishings_features_Kitchenette" type="checkbox" id="cb13" />
                    <label for="cb13" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
                        <img src="https://picsum.photos/seed/1/100" /><br>Kitchenette</label>
                      {% endif %}

                  </li>

                </ul>

          </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>














        <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                  <div id="start_button_enable" style="width: 23%;margin-top: 40px;margin-left: 38%;border-radius: 11px 11px 11px 11px;background-color: turquoise;text-align: center;">
<!--                      <button type="submit">Start</button>-->
                      <button type="submit" style="background-color: unset; width: 88%;" >Start</button>
                    </div>

              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
        </div>

</form>



<form action="{% url 'flatmate_listing_place_Who_currently_lives' %}" method="POST">{% csrf_token %}


<div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

     <input type="hidden" name="introduce_great_about_living" value="{{introduce_great_about_living}}">

     <input type="hidden" name="introduce_about_your_flatmates" value="{{introduce_about_your_flatmates}}">

     <input type="hidden" name="Accepting_Backpackers" value="{{Accepting_Backpackers}}">
    <input type="hidden" name="Accepting_Students" value="{{Accepting_Students}}">
    <input type="hidden" name="Accepting_Smokers" value="{{Accepting_Smokers}}">
    <input type="hidden" name="Accepting_LGBTI" value="{{Accepting_LGBTI}}">
    <input type="hidden" name="Accepting_years_olds" value="{{Accepting_years_olds}}">
    <input type="hidden" name="Accepting_Children" value="{{Accepting_Children}}">
    <input type="hidden" name="Accepting_Pets" value="{{Accepting_Pets}}">
    <input type="hidden" name="Accepting_Retirees" value="{{Accepting_Retirees}}">
    <input type="hidden" name="Accepting_On_welfare" value="{{Accepting_On_welfare}}">


     <input type="hidden" name="Flatmate_Preference_name" value="{{Flatmate_Preference_name}}">


    <input type="hidden" name="image_id" value="{{image_id}}">
    <input type="hidden" name="Room_availability_Date" value="{{Room_availability_Date}}">
    <input type="hidden" name="Room_availability_Minimum_length_stay" value="{{Room_availability_Minimum_length_stay}}">
    <input type="hidden" name="Room_availability_Maximum_length_stay" value="{{Room_availability_Maximum_length_stay}}">


    <input type="hidden" name="room_Weekly_rent" value="{{room_Weekly_rent}}">
    <input type="hidden" name="room_changed_Bond" value="{{room_changed_Bond}}">
    <input type="hidden" name="room_changed_Bills" value="{{room_changed_Bills}}">


    <input type="hidden" name="Bed_Size" value="{{Bed_Size}}">
    <input type="hidden" name="Room_furnishings_features_Bed_side_table" value="{{Room_furnishings_features_Bed_side_table}}">
    <input type="hidden" name="Room_furnishings_features_Wardrobe" value="{{Room_furnishings_features_Wardrobe}}">
    <input type="hidden" name="Room_furnishings_features_Drawers" value="{{Room_furnishings_features_Drawers}}">
    <input type="hidden" name="Room_furnishings_features_Air_conditioner" value="{{Room_furnishings_features_Air_conditioner}}">
    <input type="hidden" name="Room_furnishings_features_Heater" value="{{Room_furnishings_features_Heater}}">
    <input type="hidden" name="Room_furnishings_features_Desk" value="{{Room_furnishings_features_Desk}}">
    <input type="hidden" name="Room_furnishings_features_Lamp" value="{{Room_furnishings_features_Lamp}}">
    <input type="hidden" name="Room_furnishings_features_Chair" value="{{Room_furnishings_features_Chair}}">
    <input type="hidden" name="Room_furnishings_features_Couch" value="{{Room_furnishings_features_Couch}}">
    <input type="hidden" name="Room_furnishings_features_TV" value="{{Room_furnishings_features_TV}}">
    <input type="hidden" name="Room_furnishings_features_Balcony" value="{{Room_furnishings_features_Balcony}}">
    <input type="hidden" name="Room_furnishings_features_Door_lock" value="{{Room_furnishings_features_Door_lock}}">
    <input type="hidden" name="Room_furnishings_features_Kitchenette" value="{{Room_furnishings_features_Kitchenette}}">




    <input type="hidden" name="Room_name" value="{{Room_name}}">
    <input type="hidden" name="Room_type" value="{{Room_type}}">
    <input type="hidden" name="Room_furnishings" value="{{Room_furnishings}}">
    <input type="hidden" name="Bathroom_type" value="{{Bathroom_type}}">

    <input type="hidden" name="property_Who_currently_lives" value="{{property_Who_currently_lives}}">
    <input type="hidden" name="Property_Address" value="{{Property_Address}}">
    <input type="hidden" name="property_bedrooms" value="{{property_bedrooms}}">
    <input type="hidden" name="property_bathrooms" value="{{property_bathrooms}}">
    <input type="hidden" name="changed_Parking" value="{{changed_Parking}}">
    <input type="hidden" name="changed_Internet" value="{{changed_Internet}}">
    <input type="hidden" name="offering_accommodation" value="{{offering_accommodation}}">
    <input type="hidden" name="property" value="{{property}}">






      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

          <div style="width: 23%;margin-top: 34px;margin-left: 38%;border-radius: 11px 11px 11px 11px;background-color: #e0408675;text-align: center;">

              <button type="submit">back</button>
            </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
</div>




</form>








         <script src="{% static '' %}js/jquery.min.js"></script>
          <script src="{% static '' %}js/popper.min.js"></script>
          <script src="{% static '' %}js/bootstrap.bundle.min.js"></script>
          <script src="{% static '' %}js/jquery-3.0.0.min.js"></script>
          <script src="{% static '' %}js/plugin.js"></script>
          <!-- sidebar -->
          <script src="{% static '' %}js/jquery.mCustomScrollbar.concat.min.js"></script>
          <script src="{% static '' %}js/custom.js"></script>
          <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


<!--document.getElementById('carssw').value-->













</body>

</html>